# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Morozova_ISP-231_Lab4_HomeWork_15.09.25.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
